<div class="container">
  <div class="row">
    <div class="col-md-3 ">
      <ul class="list-group sticky-top">
        <a routerLink="/" [class.active]="!catFilter" class="list-group-item list-group-item-action">All Categories</a>
        <a
          class="list-group-item list-group-item-action"
          *ngFor="let item of cat"
          routerLink="/"
          [queryParams]="{cat:item.name}"
          [class.active]="catFilter === item.name"
        >
          {{ item.name }}
        </a>
      </ul>
    </div>
    <div class="col">
      <div class="row">
        <ng-container *ngFor="let product of products | filter:catFilter">
          <div class="col-md-6  col-xl-3 mt-2" >
             <ng-container *ngIf="!spinner">
              <app-product-card [products]="product" [check]="true"></app-product-card>
             </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="spinner && !errorMessage">
          <mat-spinner color="accent" class="m-5"></mat-spinner>
        </ng-container>
        <ng-container *ngIf="errorMessage">
          <h3 class="alert alert-danger">{{ errorMessage }}</h3>
        </ng-container>
      </div>
    </div>
 
  </div>
</div>
